name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths: [ 'hangman-api/**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node version
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: hangman-api/package-lock.json
      - name: Build and test
        working-directory: ./hangman-api
        run: |
          npm ci
          npm run build --if-present
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node version
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Build and test
        working-directory: ./hangman-api
        run: |
          npm ci
          npm run test
  test-integration:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Integration test
        working-directory: ./hangman-api
        run: docker compose -f test-integration.yaml run test-integration